.job__description {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #909090;
  font-weight: bold;
}
@media screen and (max-width: 480px){
  .job__description {
    font-size: 1.1em;
    font-weight: normal;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .job__description {
    font-weight: normal;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .job__description {
    font-weight: normal;
    line-height 1.4;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .job__description {
    font-weight: normal;
    line-height 1.4;
  }
}