.part__container {
  max-width: 100%;
  padding: 5em 0 5em 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px){
  .part__container {
    max-width: 100%;
    padding: 3em 1em 3em 1em;
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .part__container {
    padding: 4em 4em;
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .part__container {
    padding: 4em 5em;
    max-width: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .part__container {
    padding: 4em 4em;
  }
}

@media screen and (min-width: 1281px){
  .part__container {
    padding: 5em 4em;
    max-width 54em;
  }
}