
.form__textarea {
  font-size: 1em;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  color: #BBB8B8;
  font-weight: bold;
  appearance: none;
  border-radius: 5px;
  border: solid 2px #e4e4e4;
  display: block;
  outline: 0;
  padding: 0.8em 1em;
  line-height: 1.7em;
  height: 12em;
  text-decoration: none;
  width: 100%;
}

.form__textarea:focus {
  border-color: #4acaa8;
}

