.sidebar {
  background: #4acaa8;
  color: #d1f1e9;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  bottom 0;

}

@media screen and (max-width: 768px) {
  .sidebar {
    display: table;
    width: 16em;
    right: -16em;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px){
  .sidebar {
    display: table;
    width: 20em;
    right: -20em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .sidebar {
    width 20em;
    right 0;
  }
}

@media screen and (min-width: 1281px) {
  .sidebar {
    width 25em;
    right 0;
  }
}