.header__menu-icon {
  background-color: #4acaa8;
  background-image: url("../../../images/dot.png");
  color: #ffffff;
  display: block;
  font-size: 18px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 64px;
  right: 0;
}