.part__description {
  font-size: 1.35em;
  line-height: 1.5em;
  color: #6D6D6D;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  margin: 1em 0 1em 0;
}

@media screen and (max-width: 480px){
  .part__description {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
  .part__description {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .part__description {
    font-size: 1.25em;
  }
}