.gmap__inner {
  border: none;
  background: white;
  padding: 9px;
  color: #176978;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 8px
}

.gmap__inner:before{
  content: " ";
  position: absolute;
  border-left: 10px solid rgba(113, 101, 58, 0);
  border-right: 10px solid rgba(113, 101, 58, 0);
  border-bottom: 10px solid #fff;
  left: 140px;
  top: -10px;
}
