.form__input {
  font-size: 1em;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  color: #BBB8B8;
  font-weight: bold;
  appearance: none;
  border-radius: 5px;
  border: solid 2px #e4e4e4;
  display: block;
  height: 2.75em;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

.form__input:focus {
  border-color: #4acaa8;
}

::-webkit-input-placeholder {color:#bbb8b8;}
::-moz-placeholder          {color:#bbb8b8;}/* Firefox 19+ */
:-moz-placeholder           {color:#bbb8b8;}/* Firefox 18- */
:-ms-input-placeholder      {color:#bbb8b8;}