.content{
  background-color #fff;

}

@media screen and (max-width: 480px) {
  .content {

  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .content {
    padding-right 20em;
  }
}

@media screen and (min-width: 1281px){
  .content {
    padding-right 25em;
  }
}