.top__picture {
  height: auto;
  display: block;
  padding: 3em 0;
  max-width: 100%;
}


@media screen and (max-width: 480px){
  .top__picture {
    padding: 2em 1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .top__picture {
    padding: 2.07em 0;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px){
  .top__picture {
    padding: 2.54em 0;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .top__picture {
    padding: 2em 0;
  }
}