.part__welcome {
  text-align: center;
  font-size: 3em;
  color: #2CC19A
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  padding-top: 1em;
}

@media screen and (max-width: 480px){
  .part__welcome {
    font-size 1.8em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .part__welcome {
    font-size 2.3em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px){
  .part__welcome {
    font-size 2.5em;
  }
}

@media screen and (min-width: 1025px){
  .part__welcome {
    padding-bottom: 0.2em;
  }
}