.state {
  position: absolute;
  top: 3px;
  right: 0;
  display flex;
  width: 115px;
}

@media screen and (max-width: 768px){
  .state {
    position: relative;
    left: 0;
    margin: 0.5em 0;
  }
}

/*@media screen and (min-width: 481px) and (max-width: 768px){*/
  /*.state {*/
    /*position: relative;*/
    /*left: 0;*/
    /*margin: 0.5em 0;*/
  /*}*/
/*}*/