.user__name {
  font-family "Bookman", Georgia, "Times New Roman", serif;
  font-weight bold;
  line-height 1.4em;
  color #fff;
}

@media screen and (max-width: 768px){
  .user__name {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .user__name {
    font-size: 1.3em;
  }
}