.form__button {
  height: 3em;
  border: 1px solid #e4e4e4;
  width: 10em;
  border-radius: 6px;
  color: #fff;
  font-size: 1.3em;
  font-family: bookman;
  font-weight: bold;
  cursor pointer;
}

@media screen and (max-width: 600px){
  .form__button {
    margin 6px auto;
    width 12em;
    height 2em;
    display block;
  }
}