.user__picture {
  display: block;
  margin: 0 auto 2.25em auto;
  width: 8em;
  border-radius: 100%;
  border: 5px solid rgba(255,255,255, 0.2);
  box-shadow: 0 0 0 10px rgba(255,255,255, 0.5);
}


@media screen and (max-width: 768px){
  .user__picture {
    width 6em;
    margin: 0 auto 1.25em auto;
    box-shadow: 0 0 0 4px rgba(255,255,255, 0.5);
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px){
  .user__picture {
    width 8em;
    margin: 0 auto 1.25em auto;
    box-shadow: 0 0 0 8px rgba(255,255,255, 0.5);
  }
}

@media screen and (min-width: 1281px){
  .user__picture {
    width 10em;
    margin: 0 auto 1.25em auto;
  }
}